body {
  background-image: url(cat_background.jpg);
  color: chocolate;
}
section {
  background-color: cornsilk;
  width: 750px;
  border: antiquewhite solid;
}
.cat {
  text-decoration: underline;
  width: 250px;
  border: dotted salmon;
}
h1 {
  border: solid antiquewhite;
  width: 200px;
  background-color: cornsilk;
  text-decoration: underline;
}
h2 {
  text-decoration: overline;
  text-align: center;
  width: 720px;
}
h3 {
  border: dotted salmon;
  width: 220px;
}
fieldset {
  width: 250px;
}
img {
  border: double wheat 5px;
  border-radius: 20px;
  text-align: center;
}
form {
  border: solid chocolate;
  padding: 10px;
  width: 500px;
}
