body {
  background-image: url(cat_background.jpg);
  color: chocolate;
}
section {
  background-color: cornsilk;
  width: 750px;
  border: antiquewhite solid;
}
.cat {
 text-decoration: underline;
  width: 250px;
  border: dotted salmon;
}
h1 {
  border: solid salmon;
  width: 200px;
  background-color: blanchedalmond;
}
h2 {
  background-color: beige
  width: 120px;
  text-align: center;
}
h3 {
  border: dotted salmon;
  width: 220px;
}
fieldset{
  width: 250px;
}
img{
  border: solid wheat 5px;
  border-radius: 20px;
}